In [3]:
#0.1>10%

In [5]:
format(123.456,'.2%')

'12345.60%'

In [6]:
type(format(123.456,'.2%'))

str

In [7]:
format(123.456,'.2f')

'123.46'

In [8]:
float(format(123.456,'.2f'))

123.46

In [9]:
round(123.456,2)

123.46

In [10]:
print('%.2f'%(123.456))

123.46

In [11]:
print("{0:.2f},{1:.3f}".format(123.456,987.654))

123.46,987.654

In [12]:
int(123.456)

123

In [24]:
print("hello,",end="")
print("hello")
print("hello,worid")
print("hello,",end="*")
print("hello,","**")

hello,hello
hello,worid
hello,*hello, **

In [25]:
#interger
type(10)

int

In [29]:
#浮點數
type(10.2)
type(10.0)

float

In [33]:
#字串
type("hello")
type("12")

str

In [36]:
"12+1"

'12+1'

In [37]:
12+1

13

In [38]:
print(10+2.0,type(10+2.0))

12.0 <class 'float'>

In [42]:
"10"+str(2.0)

'102.0'

In [43]:
int("10")+2.0

12.0

In [44]:
print("數字相加",10+2)

數字相加 12

In [45]:
print("數字相加"+str(10+2))

數字相加12

In [70]:
a=2
print(a)

2

In [73]:
a=1
b=2
temp=a
a=b
b=temp
print(a,b)

2 1

In [74]:
a,b=1,3
print(a,b)
a,b=b,a
print(a,b)

1 3
3 1

In [75]:
k=eval(input())
print(k+10)

20
30

In [8]:
k=input("請輸入整數")
float(k)+10

請輸入整數20

30.0

In [82]:
k=input()

1

In [83]:
type(k)

str

In [84]:
float(k)+10

11.0

In [85]:
abs(-10)

10

In [86]:
max(1,2,3)

3

In [87]:
#if boolean-expresion:
#statement(s)
x=65
if x > 60:
    x=x+5
print(x)

70

In [88]:
x=65
x>60

True

In [89]:
x=45
x>60

False

In [4]:
x=65
k=(x>60)
k=(x!=60)
print(k)
print(type(k))
print(int(k))

True
<class 'bool'>
1

In [3]:
x=45
k=(x>60)
k=(x==60)
print(k)
print(type(k))
print(int(k))

False
<class 'bool'>
0

In [5]:
number=2
deno=0
if deno!=0:
    ans=number/deno
    print(ans)
#print(1+1)
else:
    print("deno is zero")

deno is zero

In [1]:
number=0
if number>0:
    print(number,"is positive")
else:
    if number<0:
        print(number, "is negative")
    else:
        print(number,"is zero")
print("over")

0 is zero
over

In [2]:
score=60
if(score>80):
    print("A")
elif(score>70):
    print("B")
elif(score>60):
    print("C")
else:
    print("D")

D

In [4]:
score=5
if(score>=6):
    print("a")
elif(score>=5):
    print("b")
else:
    print("c")

b

In [5]:
count=1
while count<=2:
    print("python")
    count=count+1

python
python

In [9]:
for count in range(0,2):
    print(count)
    print("python")

0
python
1
python

In [10]:
count=1
total=0
while count<=10:
    total=total+count
    count=count+1
print(total)

55

In [11]:
total=0
for count in range(1,11):
    total=total+count
print(total)

55

In [12]:
number=0
while True:
    if(number<5):
        print("python")
        number=number+1
    else:
        break

python
python
python
python
python

In [13]:
#0+1+2+3+...n,sum>100
number=0
total=0
while True:
    number=number+1
    total=total+number
    if(total>=100):
        break
print(number)
print(total)

14
105

In [15]:
#0+1+2+3+...n,sum>100
#number=0
#total=0
#while True:
#    number=number+1
#    total=total+number
#    if(total>=100):
#        break
total=0
for number in range(0,10000):
    total=total+number
    if(total>=100):
        break
print(number)
print(total)

14
105

In [21]:
for i in range(1,3):
    for j in range(1,3):
        print(i,"*",j,"*",i*j)

1 * 1 * 1
1 * 2 * 2
2 * 1 * 2
2 * 2 * 4

In [24]:
for i in range(1,3):
    for j in range(1,3):
        print(i,"*",j,"=",i*j)
        if (i>6):
            break

1 * 1 = 1
1 * 2 = 2
2 * 1 = 2
2 * 2 = 4

In [25]:
for i in range(1,4):
    if (i>6):
        continue
        print("hi")
    else:
        print(i)

1
2
3

In [27]:
for i in range (1,4):
    for j in range(1,4):
        print(i,"*",j,"=",i*j)
        if (i<3):
            continue

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [37]:
import random
random.random()

0.9976297533548054

In [38]:
odd=0
even=0
for i in range (0,10):
    print(i,random.randint(1,100))
    if(random.randint(1,100)%2!=0):
        odd=odd+1
    elif(random.randint(1,100)%2==0):
        even=even+1
print("奇數",odd,"偶數",even)

0 50
1 89
2 81
3 29
4 58
5 75
6 41
7 40
8 44
9 47
奇數 5 偶數 2

In [73]:
odd=0
even=0
for i in range(0,9):
    num=random.randint(1,10)
    print(i,num)
    if(num%2!=0):
        odd=odd+1
    elif(num%2==0):
        even=even+1
print("奇數",odd,"偶數",even)

0 7
1 5
2 2
3 8
4 5
5 4
6 9
7 8
8 9
奇數 5 偶數 4

In [74]:
num=6
sign=0
for i in range(2,num):
    if(num%i==0):
        print(num,"不是質數.因為",num,"%",i,"等於0")
        sign=1
        break
    if(sign==0):
        print(num,"是質數.")

6 不是質數.因為 6 % 2 等於0

In [79]:
for q in range(2,10):
    num=q
    sign=0
    for i in range(2,num):
        if(num%i==0):
            print(num,"不是質數.因為",num,"%",i,"等於0")
            sign=1
            break
    if (sign==0):
        print(num,"是質數.")

2 是質數.
3 是質數.
4 不是質數.因為 4 % 2 等於0
5 是質數.
6 不是質數.因為 6 % 2 等於0
7 是質數.
8 不是質數.因為 8 % 2 等於0
9 不是質數.因為 9 % 3 等於0